* {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

body {
  font-family: "Arial";
  color: #345;
  background: url("../assets/pattern.svg") repeat top;
}

a {
  color: #345;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  display: block;
  padding: 10px 30px;
  background: #000;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-family: "Arial";
}

.btn:hover {
  background: #222;
  transform: scale(1.1);
}

input,
textarea {
  border-radius: 4px;
  padding: 15px;
  border: 1px solid #fff;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  transition: all 0.3s;
  font-size: 1rem;
  margin-bottom: 15px;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover {
  outline: none;
  box-shadow: 0 8px 16px rgb(0, 0, 0, 0.2);
  border-color: #222;
}
